.c1{
    background: linear-gradient(45deg, blue, red);
}

#id1{
    background: linear-gradient(45deg, green, yellow);
}

.c2{
   background: linear-gradient(45deg, orange, pink); 
}
.c1:hover{
    width: 27%;
    background: linear-gradient(90deg) purple,pink;
}
#id1:hover{
    background: linear-gradient(90deg) black, purple;
}
.c2:hover{
    display: none;
}
div{
    border: 1px solid gray;
    width: 25%;
    display: inline-block;
    padding: 20px;
    margin: 20px;
    border-radius: 20px;
    
}
h2{
    text-align: center;
}
p{
    text-align:justify;
}